You find a {{.Descriptor.Name}} {{.Name}}.
{{- if .IsMultiComponent}}
{{- template "multicomponent" .}}
{{- else}}
{{- template "singlecomponent" .FirstComponent}}
{{- end -}}

{{define "multicomponent"}}
{{- range .Components}}
The {{.Name}} is {{.FirstProperty.Verb}} {{"{{"}}.Article{{"}}"}} {{.FirstProperty.Attribute.Description}}
{{- if .IsMultiProperty}}
{{- range (slice .Properties 1)}} and {{.Verb}} {{.Attribute.Description}}{{end}}
{{- end}}.
{{- end}}
{{- end -}}

{{define "singlecomponent"}}
The {{.Name}} is {{.FirstProperty.Verb}} {{"{{"}}.Article{{"}}"}} {{.FirstProperty.Attribute.Description}}
{{- if .IsMultiProperty}}
{{- range (slice .Properties 1)}} and {{.Verb}} {{.Attribute.Description}}{{end}}
{{- end}}.
{{- end -}}
