{{define "singlecomponent"}}
{{range .Components}}
It is {{.FirstProperty.Verb}} {{.FirstProperty.Attribute.Description}}
{{- if gt (len .Properties) 1 -}}
{{- range (slice .Properties 1)}} and {{.Verb}} {{.Attribute.Description -}}{{- end -}}
{{end}}.
{{end}}
{{end}}